{% extends "fermentation/base.html" %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}potwierdź usunięcie etapu fermentacji {{ fstep.name }} warki {{ fstep.brew.name }}{% endblock %}

{% block content %}
<h3>{{ fstep.name }} ({{ fstep.brew.name }})</h3>
<p>Zamierzasz usunąć etap fermentacji {{ fstep.name }} warki {{ fstep.brew.name }}. Jest to proces nieodwracalny, dlatego potwierdź że na pewno chcesz to zrobić.</p>
{{ forms.render_form(delete_form, url_for('ferm.fermentationstep_delete', fstep_id=fstep.id)) }}
{% endblock %}
