textarea#misc, textarea#fermentables, textarea#hops, textarea#mash_steps, textarea#hopping_steps {
    height: 11.5625em;
}

textarea.export, textarea#text {
    height: 34.6875em;
}

.help {
    font-size: 75%;
    font-style: italic;
    color: gray;
    line-height: 1.1em;
}

table.printlabel td {
    width: 9cm;
    height: 5cm;
    text-align: center;
    vertical-align: center;
    border: 1px solid black;
}

.required label {
    font-weight: bold;
}
