textarea#misc, textarea#fermentables, textarea#hops, textarea#mash_steps, textarea#hopping_steps {
    height: 100px;
}

.help {
    font-size: 75%;
    font-style: italic;
    color: gray;
    line-height: 1.1em;
}
