-r requirements-test.txt

ipdb
flake8
flake8-builtins
flake8-bugbear
flake8-mutable
flake8-blind-except
flake8-eradicate
flake8-debugger
cohesion
doc8
rope

Sphinx

pip
setuptools
wheel

flask-shell-ipython
