{% extends "account/base.html" %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}Potwierdź usunięcie konta{% endblock %}

{% block content %}
<h1>Potwierdź usunięcie konta</h1>
<p>Konto użytkownika {{ profile.email }} zostanie usunięte wraz z całą zawartością. Proces ten jest nieodwracalny dlatego proszę potwierdzić, że to jest właśnie to co zamierzasz zrobić.</p>
<p><strong>Uwaga!</strong> Cała zawartość jak browary, warki czy notatki z degustacji zostanie usunięta bez możliwości odzyskania.</p>
{{ forms.render_form(delete_form, url_for('profile.delete', user_id=profile.id)) }}
{% endblock %}
