{% extends "account/base.html" %}

{% from "macros/forms.html" import render_form %}

{% block headpagetitle %}Potwierdzanie adresu email - początek{% endblock %}

{% block content %}
<h1>Potwierdzanie adresu email - początek</h1>
<p>To jest pierwszy krok w procesie potwierdzania adresu email. Otrzymasz email z linkiem, który należy kliknąć aby potwierdzić, że jest się właścicielem adresu. Wiadomość przyjdzie z adresu <code>brewlog@mg.zgodowie.org</code> i zostanie przesłana przez usługę Mailgun. Proszę sprawdzić nagłówki wiadomości przed klikaniem w jakiekolwiek linki.</p>
{{ render_form(form, request.path }}
{% endblock %}
