{% extends "account/base.html" %}

{% from "macros/forms.html" import render_form %}

{% block headpagetitle %}{{ gettext('email confirmation - start') }}{% endblock %}

{% block content %}
<h2>{{ gettext('email confirmation - start').capitalize() }}</h2>
<p>{% trans %}You are about to begin email confirmation process. We're going to send you an email message with confirmation link that you should click to confirm ownership of your email address. The message will come from address <code>brewlog@mg.zgodowie.org</code> and will be sent using MailGun service. Please consult message headers before clicking on any link.{% endtrans %}</p>
{{ render_form(form, request.path }}
{% endblock %}
