{% extends "account/base.html" %}

{% import "macros/forms.html" as forms %}

{% block headpagetitle %}Profil użytkownika {{ profile.name }}{% endblock %}

{% block content %}
<h1>Profil użytkownika {{ profile.name }}</h1>
<dl>
  {% if profile.full_name and profile.is_public %}<dt>Pełna nazwa:</dt> <dd>{{ profile.full_name }}</dd>{% endif %}
  {% if profile.nick %}<dt>Pseudo:</dt> <dd>{{ profile.nick }}</dd>{% endif %}
  {% if profile.location and profile.is_public %}<dt>Lokalizacja:</dt> <dd>{{ profile.location }}</dd>{% endif %}
  <dt>data rejestracji:</dt> <dd>{{ profile.created|dateformat("short") }}</dd>
</dl>
{% if profile.about_me %}<blockquote><p>{{ profile.about_me }}</p></blockquote>{% endif %}
{% if form %}
<p>Dane profilowe możesz zmienić używając poniższego formularza.</p>
{{ forms.render_form(form, url_for('profile.details', user_id=profile.id), width=8) }}
<h2>Email</h2>
{% if profile.email_confirmed %}
<p>Twój email został już potwierdzony.</p>
{% else %}
{% if profile.email %}
<p>Twój adres email nie został jeszcze potwierdzony i nie może być używany do komunikacji z serwisem. Oznacza to na przykład że nie ma możliwości zresetowania zagubionego/przejętego hasła. Proszę potwierdzić adres by serwis mógł wysyłać na niego wiadomości. Serwis Brewlog nie wysyła żadnych wiadomości na adresy które nie zostały potwierdzone.</p>
<p><a href="{{ url_for('profile.email-confirm-begin') }}" class="button is-warning">rozpocznij</a></p>
{% else %}
<p>Nie mamy twojego adresu email. Zacznij od dodania adresu w danych użytkownika.</p>
{% endif %}
{% endif %}
<h2>Hasło</h2>
{% if profile.has_valid_password %}
<p>Proszę użyć odnośnika poniżej aby zmienić hasło do serwisu.</p>
{% else %}
<p>Nie masz jeszcze ustawionego hasła do serwisu. Użyj odnośnika poniżej aby ustawić hasło w serwisie Brewlog.</p>
{% endif %}
<p><a href="{{ url_for('profile.setpassword') }}" class="button is-warning">nowe hasło</a></p>
<h2>Usunięcia konta</h2>
<p>Użyj odnośnika poniżej aby trwale usunąć konto w serwisie Brewlog.</p>
<p><a href="{{ url_for('profile.delete', user_id=profile.id) }}" class="button is-danger">usuń moje konto</a></p>
{% endif %}
{% endblock %}
