{% extends "account/base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/users.html" as users %}

{% block headpagetitle %}{{ gettext("Profile data for user %(name)s", name=profile.name) }}{% endblock %}

{% block content %}
<h3>{{ gettext("Brewer profile for user %(name)s", name=profile.name) }}</h3>
{{ users.display_profile(profile) }}
{% if form %}
<p>{% trans %}This is your brewer's profile data. You may change it using the form below.{% endtrans %}</p>
{{ forms.render_form(form, url_for('profile.details', user_id=profile.id)) }}
<h3>{{ gettext('email address').capitalize() }}</h3>
{% if profile.email_confirmed %}
<p>{% trans %}Your email address is confirmed and email communication is enabled.{% endtrans %}</p>
{% else %}
{% if profile.email %}
<p>{% trans %}Your email address is not confirmed and all email communication has been disabled. This means we can not help you reset your password if you ever lost it. Please confirm your email to enable email communication. Note we do not send any emails to non-confirmed emails.{% endtrans %}</p>
<p><a href="{{ url_for('profile.email-confirm-begin') }}" class="btn btn-warning">{{ gettext("start email confirmation") }}</a></p>
{% else %}
<p>You did not enter your email. To use email communication (eg. to reset password) you have to have confirmed email. Please begin with entering valid email in the form above.</p>
{% endif %}
{% endif %}
<h3>{{ gettext('password').capitalize() }}</h3>
{% if profile.has_valid_password %}
<p>{% trans %}Please follow the below link to change your site password.{% endtrans %}</p>
{% else %}
<p>{% trans %}You do not have valid password set. While signing in is still possible with social services, this feature will soon be gone. Please set up password to keep access to your data once social sign in is turned off.{% endtrans %}</p>
{% endif %}
<p><a href="{{ url_for('profile.setpassword') }}" class="btn btn-warning">{{ gettext("set new password") }}</a></p>
<p>{% trans %}Please be aware that we still don't have forgotten password reset mechanism implemented. Choose your password wisely, eg. allow Chrome to set it up for you.{% endtrans %}</p>
<h3>{{ gettext("delete account").capitalize() }}</h3>
<p>{% trans %}Follow the below link to permanently delete your account.{% endtrans %}</p>
<p><a href="{{ url_for('profile.delete', user_id=profile.id) }}" class="btn btn-danger">{{ gettext("delete my account") }}</a></p>
{% endif %}
{% endblock %}

{% block sidebar %}
<h4>{% trans %}Brewery list{% endtrans %}</h4>
{% if profile.breweries %}
<ul class="list-unstyled">
  {% for brewery in profile.breweries %}<li><a href="{{ url_for('brewery.details', brewery_id=brewery.id) }}">{{ brewery.name }}</a> ({{ ngettext("%(num)d brew", "%(num)d brews", brewery.brews.count()) }})</li>{% endfor %}
</ul>
{% endif %}
{% if form %}
<p><a href="{{ url_for('brewery.add') }}" class="btn btn-sm btn-primary">{{ gettext("add new brewery") }}</a></p>
{% endif %}
{% if latest_brews %}
<h4>{{ gettext("latest brews").capitalize() }}</h4>
<ul class="list-unstyled">
  {% for brew in latest_brews %}<li><a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.name }}</a> {{ brew.created|dateformat("short") }}</li>{% endfor %}
</ul>
<p><a href="{{ url_for('profile.brews', user_id=profile.id) }}">{{ gettext('see all').capitalize() }}</a></p>
{% endif %}
{% if form and profile.breweries.count() %}
<p><a href="{{ url_for('brew.add') }}" class="btn btn-sm btn-primary">{{ gettext("add new brew") }}</a></p>
{% endif %}
{% endblock %}
