{% extends "account/base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/users.html" as users %}

{% block headpagetitle %}{{ gettext("Profile data for user %(name)s", name=profile.name) }}{% endblock %}

{% block content %}
<h3>{{ gettext("Brewer profile for user %(name)s", name=profile.name) }}</h3>
{{ users.display_profile(profile) }}
{% if form %}
<p>{% trans %}This is your brewer's profile data. You may change it using the form below.{% endtrans %}</p>
{{ forms.render_form(form, url_for('profile.details', user_id=profile.id)) }}
<h3>{{ gettext("delete account").capitalize() }}</h3>
<p>{% trans %}Follow the below link to permanently delete your account.{% endtrans %}</p>
<p><a href="{{ url_for('profile.delete', user_id=profile.id) }}" class="btn btn-danger">{{ gettext("delete my account") }}</a></p>
{% endif %}
{% endblock %}

{% block sidebar %}
<h4>{% trans %}Brewery list{% endtrans %}</h4>
{% if profile.breweries %}
<ul class="list-unstyled">
  {% for brewery in profile.breweries %}<li><a href="{{ url_for('brewery.details', brewery_id=brewery.id) }}">{{ brewery.name }}</a> ({{ ngettext("%(num)d brew", "%(num)d brews", brewery.brews.count()) }})</li>{% endfor %}
</ul>
{% endif %}
{% if form %}
<p><a href="{{ url_for('brewery.add') }}" class="btn btn-sm btn-primary">{{ gettext("add new brewery") }}</a></p>
{% endif %}
{% if latest_brews %}
<h4>{{ gettext("latest brews").capitalize() }}</h4>
<ul class="list-unstyled">
  {% for brew in latest_brews %}<li><a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.name }}</a> {{ brew.created|dateformat("short") }}</li>{% endfor %}
</ul>
<p><a href="{{ url_for('profile.brews', user_id=profile.id) }}">{{ gettext('see all').capitalize() }}</a></p>
{% endif %}
{% if form and (profile.breweries or profile.other_breweries) %}
<p><a href="{{ url_for('brew.add') }}" class="btn btn-sm btn-primary">{{ gettext("add new brew") }}</a></p>
{% endif %}
{% endblock %}
