{% extends "account/base.html" %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}{{ gettext('set or change your password') }}{% endblock %}

{% block widecontent %}
<h3>{{ gettext('set or change your password').capitalize() }}</h3>
{% if current_user.is_authenticated and not current_user.has_valid_password %}
<div class="alert alert-warning" role="alert">
  <p>{% trans %}You do not have valid password set. While signing in is still possible with social services, this feature will soon be gone. Please provide password to keep access to your data once social sign in is turned off.{% endtrans %}</p>
</div>
{% endif %}
{{ forms.render_form(form, request.path) }}
{% endblock %}
