{% extends "brew/base.html" %}
{% import "macros/forms.html" as forms %}

{% block styles %}
{% if current_user.is_authenticated %}
<link href="/static/vendor/xeditable/css/bootstrap-editable.css" rel="stylesheet">
{% endif %}
{% endblock %}

{% block scripts %}
{% if current_user.is_authenticated %}
<script type="text/javascript" src="/static/vendor/xeditable/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
$.fn.editable.defaults.mode = 'inline';
var csrf_token = "{{ csrf_token() }}";
$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
      xhr.setRequestHeader("X-CSRFToken", csrf_token);
    }
  }
});
$(document).ready(function() {
  $(".edit_area").editable();
})
</script>
{% endif %}
{% endblock %}

{% block headpagetitle %}{{ super() }} {{ brew.full_name }}{% endblock %}

{% block headdescription %}{{ utils.description(brew) }}{% endblock %}

{% block widecontent %}
{% include "brew/include/brew_navigation.html" %}
{% include "brew/include/details.html" %}
{% if form %}
<p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#fermentation-data" aria-expanded="false">{{ gettext("fermentation data").capitalize() }}</button></p>
<div class="collapse" id="fermentation-data">
  <div class="card card-body">
    {% for fstep in brew.fermentation_steps.all() %}
    {% include "brew/include/fermentation_step.html" %}
    {% endfor %}
    <p><a href="{{ url_for('ferm.fermentationstep_add', brew_id=brew.id) }}" class="btn btn-primary">{{ gettext("add fermentation step") }}</a></p>
  </div>
</div>
{% endif %}
{% if brew.brewery.brewer == current_user and utils.state_changeable(brew) %}
<h3>{{ gettext("change state").capitalize() }}</h3>
<p><strong>{{ gettext('current state').capitalize() }}</strong>: {{ brew.current_state[0] }}{% if brew.current_state[1] %} {{ gettext('since %(date)s', date=format_date(brew.current_state[1], 'short')) }}{% endif %}</p>
{{ forms.render_form(action_form, url_for('brew.chgstate', brew_id=brew.id)) }}
{% endif %}
{% if brew.tasting_notes %}
{% include "tasting/include/tasting_notes.html" %}
{% endif %}
{% if current_user.is_authenticated and brew.is_brewed_yet %}
<p><a href="{{ url_for('tastingnote.add', brew_id=brew.id) }}" class="btn btn-primary">{{ gettext("add tasting note") }}</a></p>
{% endif %}
{% if brew.brewery.brewer == current_user %}
<h3>{{ gettext("edit brew").capitalize() }}</h3>
{{ forms.render_form(form, url_for('brew.details', brew_id=brew.id)) }}
{% endif %}
{% endblock %}
