{% extends "brew/base.html" %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}{{ super() }} {{ brew.full_name }}{% endblock %}

{% block headdescription %}{{ utils.description(brew) }}{% endblock %}

{% block content %}
{% include "brew/include/brew_navigation.html" %}
{% include "brew/include/details.html" %}
{% if brew.brewery.brewer == current_user %}
<h2>Edycja danych warki</h2>
{{ forms.render_form(form, url_for('brew.details', brew_id=brew.id), width=9) }}
{% endif %}
{% endblock %}
