{% extends "index-1cols.html" %}

{% block headpagetitle %}{% trans %}Welcome{% endtrans %}{% endblock %}

{% block widecontent %}
<h2>{% trans %}Welcome to BrewLog{% endtrans %}</h2>
<p>{% trans %}This is BrewLog, brewing log app written by homebrewer for homebrewers. Have a look to the site and start logging your brews.{% endtrans %}</p>
<div class="row">
    <div class="small-12 columns">
        <div class="row">
            {% if latest_brewers %}
            <div class="small-12 large-4 columns">
                <div class="panel">
                    <h4>{{ gettext("latest brewers").capitalize() }}</h4>
                    <ul class="no-bullet">
                        {% for brewer in latest_brewers %}<li><a href="{{ brewer.absolute_url }}">{{ brewer.name|e }}</a> {{ gettext("registered: %(date)s", date=brewer.created.strftime("%Y-%m-%d %H:%M:%S")) }}</li>{% endfor %}
                    </ul>
                    <p><a href="{{ url_for('profile-all') }}">{{ gettext("view all") }}</a></p>
                </div>
            </div>
            {% endif %}
            {% if latest_brews %}
            <div class="small-12 large-4 columns">
                <div class="panel">
                    <h4>{{ gettext("latest brews").capitalize() }}</h4>
                    <ul class="no-bullet">
                        {% for brew in latest_brews %}<li><a href="{{ brew.absolute_url }}">{{ brew.name|e }}</a> {{ gettext("by %(brewername)s in %(breweryname)s", brewername=brew.brewery.brewer.name, breweryname=brew.brewery.name)|e }}</li>{% endfor %}
                    </ul>
                    <p><a href="{{ url_for('brew-all') }}">{{ gettext("view all") }}</a></p>
                </div>
            </div>
            {% endif %}
            {% if latest_breweries %}
            <div class="small-12 large-4 columns">
                <div class="panel">
                    <h4>{{ gettext("recently registered breweries").capitalize() }}</h4>
                    <ul class="no-bullet">
                        {% for brewery in latest_breweries %}<li><a href="{{ brewery.absolute_url }}">{{ brewery.name|e }}</a> {{ gettext("by %(brewer)s", brewer=brewery.brewer.name)|e }}</li>{% endfor %}
                    </ul>
                    <p><a href="{{ url_for('brewery-all') }}">{{ gettext("view all") }}</a></p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
