{% from "macros/icons.html" import icon %}
<!DOCTYPE html>
<html lang="{{ get_locale().language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block headpagetitle %}{% endblock %}</title>
    <meta name="description" content="{% block headdescription %}{% endblock %}">
    {% assets 'css_all' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block styles %}{% endblock %}
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon">
  </head>
  <body role="document">

    {% include "includes/icons.html" %}

    <nav class="navbar" role="navigation" aria-label="{{ gettext('main navigation') }}">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Brewlog</a>
        <a role="button" class="navbar-burger burger" aria-label="{{ gettext('menu') }}" aria-expanded="false" data-target="navmenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navmenu" class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          {% if current_user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ icon('plus') }}</a>
            <div class="navbar-dropdown is-right is-boxed">
              <a class="navbar-item" href="{{ url_for('brew.add') }}">{{ gettext('brew') }}</a>
              <a class="navbar-item" href="{{ url_for('brewery.add') }}">{{ gettext('brewery') }}</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ icon('briefcase') }}</a>
            <div class="navbar-dropdown is-right is-boxed">
              <a class="navbar-item" href="{{ current_user.brews_list_url }}">{{ gettext('brews') }}</a>
              <a class="navbar-item" href="{{ current_user.breweries_list_url }}">{{ gettext('breweries') }}</a>
            </div>
          </div>
          {% endif %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ icon('settings') }}</a>
            <div class="navbar-dropdown is-right is-boxed">
              {% if current_user.is_anonymous %}
              <a class="navbar-item" href="{{ url_for('auth.select') }}">{{ icon('log-in') }} <span>{{ gettext('login page') }}</span></a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{{ url_for('auth.register') }}">{{ icon('user-plus') }} <span>{{ gettext('register account') }}</span></a>
              {% else %}
              <a class="navbar-item" href="{{ url_for('profile.details', user_id=current_user.id) }}">{{ icon('user') }} <span>{% trans %}my profile{% endtrans %}</span></a>
              {% if not current_user.has_valid_password %}
              <a class="navbar-item" href="{{ url_for('profile.setpassword') }}">{{ icon('key') }} <span>{% trans %}set password{% endtrans %}</span></a>
              {% endif %}
              <hr class="navbar-divider">
              <a class="navbar-item" href="{{ url_for('auth.logout') }}">{{ icon('log-out') }} <span>{% trans %}logout{% endtrans %}</span></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% with flashes = get_flashed_messages(with_categories=True) %}
    {% if flashes %}
    <section class="section">
      {% for category, flash in flashes %}
      <div class="notification is-{{ category }}" role="alert">
        <button class="delete"></button>
        {{ flash }}
      </div>
      {% endfor %}
    </section>
    {% endif %}
    {% endwith %}
  
    {% block announcement %}
    {% endblock %}

    <section class="section">
      <div class="columns is-centered">
        <div class="column is-four-fifths content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>{{ gettext('version').capitalize() }}: {{ version }}</p>
        <p>&copy; 2012&ndash;<script>document.write(new Date().getFullYear())</script>, Jarek Zgoda. {% trans %}All rights reserved{% endtrans %}.</p>
        <p><a href="{{ url_for('home.flatpage', path='about') }}">{{ gettext("about") }}</a>&nbsp;&verbar;&nbsp;<a href="{{ url_for('home.flatpage', path='guide') }}">{{ gettext("user guide") }}</a>&nbsp;&verbar;&nbsp;<a href="{{ url_for('home.flatpage', path='legal') }}">{{ gettext("legal mumbo-jumbo") }}</a>&nbsp;&verbar;&nbsp;<a href="{{ url_for('home.flatpage', path='privacy') }}">{{ gettext("privacy statement") }}</a></p>
      </div>
    </footer>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // delete button in notification
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          const $notification = $delete.parentNode;
          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
        // navbar hamburger menu
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
              const target = el.dataset.target;
              const $target = document.getElementById(target);
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        }
      });
    </script>

    {% block scriptdata %}{% endblock %}

    {% block scripts %}{% endblock %}

  </body>
</html>
