{% from "macros/icons.html" import icon %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block headpagetitle %}{% endblock %}</title>
    <meta name="description" content="{% block headdescription %}{% endblock %}">
    {% assets 'css_all' %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% block styles %}{% endblock %}
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon">
  </head>
  <body role="document">

    {% include "includes/icons.html" %}

    <nav class="navbar" role="navigation" aria-label="główne menu nawigacyjne">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Brewlog</a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navmenu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navmenu" class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
          {% if current_user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" aria-label="dodaj">{{ icon('plus') }} <span>nowe</span></a>
            <div class="navbar-dropdown is-right is-boxed">
              <a class="navbar-item" href="{{ url_for('brew.add') }}">warka</a>
              <a class="navbar-item" href="{{ url_for('brewery.add') }}">browar</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" aria-label="moje rzeczy">{{ icon('briefcase') }} <span>moje</span></a>
            <div class="navbar-dropdown is-right is-boxed">
              <a class="navbar-item" href="{{ current_user.brews_list_url }}">warki</a>
              <a class="navbar-item" href="{{ current_user.breweries_list_url }}">browary</a>
            </div>
          </div>
          {% endif %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" aria-label="ustawienia">{{ icon('settings') }} <span>ustawienia</span></a>
            <div class="navbar-dropdown is-right is-boxed">
              {% if current_user.is_anonymous %}
              <a class="navbar-item" href="{{ url_for('auth.select') }}">{{ icon('log-in') }} <span>zaloguj</span></a>
              <hr class="navbar-divider">
              <a class="navbar-item" href="{{ url_for('auth.register') }}">{{ icon('user-plus') }} <span>nowe konto</span></a>
              {% else %}
              <a class="navbar-item" href="{{ url_for('profile.details', user_id=current_user.id) }}">{{ icon('user') }} <span>profil</span></a>
              {% if not current_user.has_valid_password %}
              <a class="navbar-item" href="{{ url_for('profile.setpassword') }}">{{ icon('key') }} <span>ustaw hasło</span></a>
              {% endif %}
              <hr class="navbar-divider">
              <a class="navbar-item" href="{{ url_for('auth.logout') }}">{{ icon('log-out') }} <span>wyloguj</span></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>

    {% with flashes = get_flashed_messages(with_categories=True) %}
    {% if flashes %}
    <section class="section">
      {% for category, flash in flashes %}
      <div class="notification is-{{ category }}" role="alert">
        <button class="delete"></button>
        {{ flash }}
      </div>
      {% endfor %}
    </section>
    {% endif %}
    {% endwith %}
  
    {% block announcement %}
    {% endblock %}

    <section class="section">
      <div class="columns is-centered">
        <div class="column is-four-fifths content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>Wersja: {{ version }}</p>
        <p>&copy; 2012, Jarek Zgoda. Niektóre prawa zastrzeżone.</p>
        <p><a href="{{ url_for('home.flatpage', path='about') }}">o serwisie</a>&nbsp;&verbar;&nbsp;<a href="{{ url_for('home.flatpage', path='guide') }}">przewodnik</a>&nbsp;&verbar;&nbsp;<a href="{{ url_for('home.flatpage', path='legal') }}">nota prawna</a>&nbsp;&verbar;&nbsp;<a href="{{ url_for('home.flatpage', path='privacy') }}">informacje o prywatności</a></p>
      </div>
    </footer>

    <script>
      function getAll(selector) {
        const parent = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : document;
        return Array.prototype.slice.call(parent.querySelectorAll(selector), 0);
      }
      document.addEventListener('DOMContentLoaded', () => {
        // delete button in notification
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          const $notification = $delete.parentNode;
          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
        // navbar hamburger menu
        const $navbarBurgers = getAll('.navbar-burger');
        if ($navbarBurgers.length > 0) {
          $navbarBurgers.forEach(($el) => {
            $el.addEventListener('click', () => {
              const target = $el.dataset.target;
              const $target = document.getElementById(target);
              $el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
            });
          });
        };
      });
    </script>

    {% block scriptdata %}{% endblock %}

    {% block scripts %}{% endblock %}

  </body>
</html>
