{% extends "base.html" %}

{% block headpagetitle %}Brewlog{% endblock %}

{% block announcement %}
{% if announcement %}
<section class="section">
  <div class="content">
    <h1>Ogłoszenie</h1>
    {{ announcement|safe }}    
  </div>
</section>
{% endif %}
{% endblock %}

{% block content %}
<h1>Brewlog</h1>
<p>Brewlog jest serwisem stoworzonym przez piwowara domowego dla piwowarów domowych. Służy on do prowadzenia dziennika piwowarskiego w najprostszej możliwej formie. Korzystanie z aplikacji jest całkowicie bezpłatne.</p>
{% if has_content %}
<h2>Najnowsza aktywność w serwisie</h2>
<div class="columns">
  {% if latest_brews.count() %}
  <div class="column">
    <div class="panel is-info">
      <div class="panel-heading">Ostatnie warki</div>
      {% for brew in latest_brews %}<p class="panel-block"><a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.full_name }}</a> przez {{ brew.brewery.brewer.name }} w {{ brew.brewery.name }}</p>{% endfor %}
      <a class="panel-block" href="{{ url_for('brew.all') }}">Wszystkie</a>
    </div>
  </div>
  {% endif %}
  {% if latest_tasting_notes %}
  <div class="column">
    <div class="panel is-info">
      <div class="panel-heading">Ostatnie notatki z degustacji</div>
      {% for note in latest_tasting_notes %}<p class="panel-block"><a href="{{ url_for('brew.details', brew_id=note.brew.id) }}">{{ note.brew.full_name }}</a> - {{ note.author.name }}, {{ format_date(note.date, "short") }}</p>{% endfor %}
      <a class="panel-block" href="{{ url_for('tastingnote.all') }}">Wszystkie</a>
    </div>
  </div>
  {% endif %}
  {% if latest_breweries %}
  <div class="column">
    <div class="panel is-info">
      <div class="panel-heading">Ostatnio zarejestrowane browary</div>
      {% for brewery in latest_breweries %}<p class="panel-block"><a href="{{ url_for('brewery.details', brewery_id=brewery.id) }}">{{ brewery.name }}</a> - {{ format_date(brewery.created, 'short') }}</p>{% endfor %}
      <a class="panel-block" href="{{ url_for('brewery.all') }}">Wszystkie</a>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<p>Nic tutaj jeszcze nie ma...</p>
{% endif %}
{% endblock %}
