{% extends "brew/base.html" %}
{% import "macros/forms.html" as forms %}

{% block topmenu_right %}
<li class="has-dropdown"><a href="#">{% trans %}recipe tools{% endtrans %}</a>
    <ul class="dropdown">
        <li><a href="">export</a></li>
    </ul>
</li>
{% endblock %}

{% block content %}
<h3>{% trans breweryname=brew.brewery.name, ownername=brew.brewery.brewer.name, brewname=brew.name %}Details for brew {{ brewname }} from brewery {{ breweryname }} by {{ ownername }}{% endtrans %}</h3>
{% if form %}
<form method="post" action="{{ url_for('brew-details', brew_id=brew.id) }}" class="custom">
    {{ forms.render(form) }}
</form>
{% endif %}
{% endblock %}
