{% extends "brew/base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/modelrender.html" as modelrender %}

{% block topmenu_right %}
<li class="has-dropdown"><a href="#">{% trans %}recipe tools{% endtrans %}</a>
    <ul class="dropdown">
        <li><a href="{{ url_for('brew-print', brew_id=brew.id) }}">{{ gettext("print recipe") }}</a></li>
        <li><a href="{{ url_for('brew-print-labels', brew_id=brew.id) }}">{{ gettext("print labels") }}</a></li>
        <li class="has-dropdown"><a href="#">{{ gettext("export recipe") }}</a>
            <ul class="dropdown">
                <li><a href="{{ url_for('brew-export', flavour='ipboard', brew_id=brew.id) }}">IP.Board</a></li>
            </ul>
        </li>
    </ul>
</li>
{% endblock %}

{% block headpagetitle %}{{ super() }} {% if brew.code %}#{{ brew.code }} {% endif %}{{ brew.name|e }}{% endblock %}

{% block content %}
{% include "brew/include/details.html" %}
{% if form %}
<form method="post" action="{{ brew.absolute_url }}" class="custom">
    {{ forms.render(form) }}
</form>
{% endif %}
{% endblock %}
