{% extends "brew/base.html" %}
{% import "macros/pagination.html" as pg %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}{{ gettext("brews") }}{% endblock %}

{% block content %}
<h3>{% if public_only %}{{ gettext("all public brews").capitalize() }}{% else %}{{ gettext("all brews").capitalize() }}{% endif %}</h3>
{% if brews %}
<ul class="no-bullet">
{% for brew in brews %}<li><a href="{{ brew.absolute_url }}">{{ brew.name|e }}</a> <small>({% if brew.is_draft %}<strong>{{ gettext("draft") }}</strong> {% endif %}{{ brew.display_info|e }})</small> <a href="{{ url_for('brew-delete', brew_id=brew.id) }}" class="button small radius">{{ gettext("delete") }}</a></li>{% endfor %}
</ul>
{{ pg.render_pagination(pagination) }}
{% endif %}
{% if user.is_authenticated() %}
<p><a href="{{ url_for('brew-add') }}" class="button small radius">{{ gettext("add new brew") }}</a></p>
{% endif %}
{% endblock %}
