{% extends "brew/base.html" %}

{% block headpagetitle %}{{ gettext("confirm removal of tasting note for brew %(name)s", name=brew.name) }}{% endblock %}

{% block content %}
<h3>{{ brew.name }}</h3>
<p>{{ gettext("You are about to delete tasting note for brew %(name)s by %(author)s added %(date)s. As this process is irreversible we're asking you again, is this really what you want do do?", name=brew.name, author=note.author.name, date=format_date(note.date, "short")) }}</p>
<form method="post" action="{{ url_for('brew-tastingnote-delete', note_id=note.id) }}">
    {{ delete_form.hidden_tag() }}
    {{ delete_form.delete_it() }}
    <button type="submit" class="button small radius">{{ gettext("Yes, delete it") }}</button>
</form>
{% endblock %}