{% extends "account/base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/bootstrap.html" as bsu %}

{% block headpagetitle %}{% if template %}{{ gettext("label template %(name)s", name=template.name) }}{% else %}{{ gettext("new label template") }}{% endif %}{% endblock %}

{% block widecontent %}
<h3>{% if template %}{{ gettext("label template %(name)s", name=template.name).capitalize() }}{% else %}{{ gettext("new label template").capitalize() }}{% endif %}</h3>
<form action="{% if template %}{{ url_for('profile.label_template', tid=template.id, userid=current_user.id) }}{% else %}{{ url_for('profile.label_template_add', userid=current_user.id) }}{% endif %}" method="post" class="form form-horizontal" role="form">
  {{ forms.render(form) }}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">{{ bsu.icon("ok") }} {{ gettext("submit") }}</button>
    </div>
  </div>
</form>
<h4>{{ gettext("help for template code").capitalize() }}</h4>
<p>{% trans %}The template code must be written in Jinja2[1] template language using Markdown[2] markup. Available context variable is named "brew" and contains all fields from single brew data.{% endtrans %}</p>
<p>{% trans %}As an example, see the default label template:{% endtrans %}</p>
<pre>
{% raw %}
#### {{ brew.brewery.name|e }}
### {% if brew.code %}#{{ brew.code|e }} {% endif %}{{ brew.name|e }}

{% if brew.date_brewed and brew.bottling_date %}{% trans %}brewed{% endtrans %}: {{ brew.date_brewed|dateformat("short" )}} &ndash; {% trans %}packaged{% endtrans %}: {{ brew.bottling_date|dateformat("short" )}}{% endif %}

{% if brew.og and brew.abv %}{% trans %}OG{% endtrans %}: {{ '%.1f' % brew.og }}&deg;Blg / {% trans %}alc. vol.{% endtrans %}: {{ '%.1f' % brew.abv }}%{% endif %}
{% endraw %}
</pre>
<p>[1] <a href="http://jinja.pocoo.org/docs/templates/">{% trans %}Jinja2 Template Designer Documentation{% endtrans %}</a><br>
[2] <a href="http://daringfireball.net/projects/markdown/syntax">{% trans %}Markdown syntax{% endtrans %}</a></p>
{% endblock %}
