{% extends "account/base.html" %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% block headpagetitle %}{{ gettext("registered brewers") }}{% endblock %}

{% block content %}
<h3>{{ gettext("registered brewers").capitalize() }}</h3>
{% if pagination.items %}
<ul class="list-unstyled">
{% for user in pagination.items %}<li><a href="{{ user.absolute_url }}">{{ user.name|e }}</a></li>{% endfor %}
</ul>
{% if pagination.pages > 1 %}
  {{ render_pagination(pagination) }}
{% endif %}
{% endif %}
{% endblock %}
