{% extends "account/base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/users.html" as users %}

{% block headpagetitle %}{{ gettext("Profile data for user %(name)s", name=user.name)|e }}{% endblock %}

{% block content %}
<h3>{{ gettext("Brewer profile for user %(name)s", name=user.name)|e }}</h3>
{{ users.display_profile(user) }}
{% if form %}
<p>{% trans %}This is your brewer's profile data. You may change it using the form below.{% endtrans %}</p>
<form action="{{ user.absolute_url }}" method="post" class="custom">
    {{ forms.render(form) }}
</form>
{% endif %}
{% endblock %}

{% block sidebar %}
<h4>{% trans %}Brewery list{% endtrans %}</h4>
<h5>{{ gettext("Owned") }}</h5>
{% if user.breweries %}
<ul class="no-bullet">
    {% for brewery in user.breweries %}<li><a href="{{ brewery.absolute_url }}">{{ brewery.name|e }}</a> <small>({{ ngettext("%(num)d brew", "%(num)d brews", brewery.brews|count) }})</small></li>{% endfor %}
</ul>
{% endif %}
{% if user.other_breweries %}
<h5>{{ gettext("Other") }}</h5>
<ul>
    {% for brewery in user.other_breweries %}<li><a href="{{ brewery.absolute_url }}">{{ brewery.name|e }}</a> <small>{{ ngettext("%(num)d brew", "%(num)d brews"), brewery.brews|count }}</small></li>{% endfor %}
</ul>
{% endif %}
{% if form %}
<p><a href="{{ url_for('brewery-add') }}" class="small button radius">{{ gettext("add new brewery") }}</a></p>
{% endif %}
<h4>{{ gettext("latest brews").capitalize() }}</h4>
<ul class="no-bullet">
    {% for brew in user.latest_brews %}<li><a href="{{ brew.absolute_url }}">{{ brew.name|e }}</a> <small>{{ brew.created|dateformat }}</small></li>{% endfor %}
</ul>
{% if form %}
<p><a href="{{ url_for('brew-add') }}" class="small button radius">{{ gettext("add new brew") }}</a></p>
{% endif %}
{% endblock %}
