{% extends "account/base.html" %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}{{ gettext("Profile data for user %(nick)s", nick=data.nick) }}{% endblock %}

{% block content %}
<h3>{{ gettext("Brewer's profile for user %(nick)s", nick=data.nick) }}</h3>
{% if form %}
<p>{% trans %}See your brewer's profile data. You may change it using the form below.{% endtrans %}</p>
<form action="{{ url_for('profile-details', userid=user.id) }}" method="post">
    {{ forms.render(form) }}
</form>
{% endif %}
<h3>{% trans %}Brewery list{% endtrans %}</h3>
{% if user.breweries %}
<ul>
{% for brewery in user.breweries %}<li><a href="{{ brewery.absolute_url }}">{{ brewery.name|e }}</a></li>{% endfor %}
</ul>
{% endif %}
{% if form %}
<p><a href="{{ url_for('brewery-add') }}" class="small button radius">{{ gettext("add new brewery") }}</a></p>
{% endif %}
{% endblock %}
