{% extends "brewery/base.html" %}
{% from "macros/bootstrap.html" import render_pagination %}

{% block headpagetitle %}{{ gettext("Brews from brewery %(name)s", name=brewery.name) }}{% endblock %}

{% block widecontent %}
<h3>{{ gettext("Brews from brewery %(name)s", name=brewery.name) }}</h3>
{% if pagination.items %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{ gettext('name').capitalize() }}</th>
      <th scope="col">{{ gettext('style').capitalize() }}</th>
      <th scope="col">{{ gettext('date brewed').capitalize() }}</th>
      <th scope="col">{{ gettext('operations').capitalize() }}</th>
    </tr>
  </thead>
  <tbody>
    {% for brew in pagination.items %}
    <tr>
      <td><a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.full_name }}</a></td>
      <td>{% if brew.style %}{{ brew.style }}{% else %}{{ gettext('no style information') }}{% endif %}</td>
      <td>{% if current_user == brew.brewery.brewer %}<a href="{{ url_for('brew.delete', brew_id=brew.id) }}" class="btn btn-sm btn-danger">{{ gettext("delete") }}</a>{% endif %}</td>
      <td>{% if brew.date_brewed %}{{ brew.date_brewed|dateformat("short") }}{% else %}{{ gettext('not brewed yet') }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
