{% extends "brewery/base.html" %}
{% from "macros/bootstrap.html" import render_pagination %}

{% block headpagetitle %}{{ gettext("brews from brewery %(name)s", name=brewery.name) }}{% endblock %}

{% block widecontent %}
<h3>{{ gettext("brews from brewery %(name)s", name=brewery.name).capitalize() }}</h3>
{% if pagination.items %}
<table class="table table-striped">
<thead>
  <tr>
    <th scope="col">{{ gettext("name") }}</th>
    <th scope="col">{{ gettext("operations") }}</th>
  </tr>
</thead>
<tbody>
{% for brew in pagination.items %}
<tr>
  <td><a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.full_name }}</a></td>
  <td>{% if current_user == brew.brewery.brewer %}<a href="{{ url_for('brew.delete', brew_id=brew.id) }}" class="btn btn-xs btn-danger">{{ gettext("delete") }}</a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
