{% extends "brewery/base.html" %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}potwierdź uwunięcie browaru {{ brewery.name }}{% endblock %}

{% block content %}
<h1>{{ brewery.name }}</h1>
<p>Masz zamiar usunąć browar {{ brewery.name }} razem z całą zawartością. Jest to operacja nieodwracalna więc potwierdź, że rzeczywiście chcesz to zrobić.{% if brewery.brews %} Razem z browarem następujące rzeczy zostaną usunięte:</p>
<ul>
  {% for brew in brewery.brews %}<li>{{ brew.name }}</li>{% endfor %}
</ul>
{% else %}
</p>
{% endif %}
{{ forms.render_form(delete_form, url_for('brewery.delete', brewery_id=brewery.id)) }}
{% endblock %}
