{% extends "brewery/base.html" %}
{% from "macros/pagination.html" import render_pagination %}

{% block headpagetitle %}lista browarów{% endblock %}

{% block content %}
<h1>Lista browarów</h1>
{% if pagination.items %}
<table class="table is-striped">
  <thead>
    <tr>
      <th scope="col">nazwa</th>
      <th scope="col">warki</th>
      <th scope="col">operacje</th>
    </tr>
  </thead>
  <tbody>
    {% for brewery in pagination.items %}
    <tr>
      <td><a href="{{ url_for('brewery.details', brewery_id=brewery.id) }}">{{ brewery.name }}</a></td>
      <td>{{ brewery.brews.count() }}</td>
      <td>{% if current_user == brewery.brewer %}<a href="{{ url_for('brewery.delete', brewery_id=brewery.id) }}" class="button is-small is-danger">usuń</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ render_pagination(pagination) }}
{% endif %}
{% if current_user.is_authenticated %}
<p><a href="{{ url_for('brewery.add') }}" class="button is-primary">dodaj nowy browar</a></p>
{% endif %}
{% endblock %}
