<h3>{% if brew.code %}#{{ brew.code }} {% endif %}{{ brew.name }}</h3>
{% if brew.style %}<p>{{ brew.style }}</p>{% endif %}
{% if brew.date_brewed %}<p>{{ gettext("brewed on %(date)s", date=format_date(brew.date_brewed, "short")) }}{% if brew.bottling_date %}, {{ gettext("packaged on %(date)s", date=format_date(brew.bottling_date, "short")) }}{% endif %}</p>{% endif %}
<h3>{{ gettext("stats").capitalize() }}</h3>
<dl class="row">
  <dt class="col-sm-3">{{ gettext("brew length").capitalize() }}</dt><dd class="col-sm-9">{% if brew.brew_length %}{{ '%.1f' % brew.brew_length }}{% endif %}</dd>
  <dt class="col-sm-3">{{ gettext("original gravity").capitalize() }}</dt><dd class="col-sm-9">{% if brew.og %}{{ '%.1f' % brew.og }}&deg;Blg, SG {{ '%.3f' % plato2sg(brew.og) }}{% endif %}</dd>
  <dt class="col-sm-3">{{ gettext("final gravity").capitalize() }}</dt><dd class="col-sm-9">{% if brew.fg %}{{ '%.1f' % brew.fg }}&deg;Blg, SG {{ '%.3f' % plato2sg(brew.fg) }}{% endif %}</dd>
  <dt class="col-sm-3">{{ gettext("abv").capitalize() }}</dt><dd class="col-sm-9">{% if brew.abv %}{{ '%.1f' % brew.abv }}%{% endif %}</dd>
  {% if brew.og and brew.fg %}<dt class="col-sm-3">{{ gettext("attenuation").capitalize() }}</dt><dd class="col-sm-9">{{ gettext("apparent")}} {{ '%.1f%%' % brew.attenuation.apparent }}, {{ gettext("real") }} {{ '%.1f%%' % brew.attenuation.real }}</dd>{% endif %}
  {% if brew.final_amount %}<dt class="col-sm-3">{{ gettext("final amount").capitalize() }}</dt><dd class="col-sm-9">{{ '%.1f' % brew.final_amount }}</dd>{% endif %}
</dl>
<h3>{{ gettext("wort preparation").capitalize() }}</h3>
<h4>{{ gettext("fermentables").capitalize() }}:</h4>
{% if brew.fermentables %}
<ul>
{% for fermentable in brew.fermentables.strip().split("\n") %}<li>{{ fermentable.strip() }}</li>{% endfor %}
</ul>
{% endif %}
<h4>{{ gettext("hops").capitalize() }}:</h4>
{% if brew.hops %}
<ul>
{% for hop in brew.hops.strip().split("\n") %}<li>{{ hop.strip() }}</li>{% endfor %}
</ul>
{% endif %}
<h4>{{ gettext("yeast").capitalize() }}:</h4>
{% if brew.yeast %}
<ul>
{% for yeast in brew.yeast.strip().split("\n") %}<li>{{ yeast.strip() }}</li>{% endfor %}
</ul>
{% endif %}
<h4>{{ gettext("misc. items").capitalize() }}:</h4>
{% if brew.misc %}
<ul>
{% for misc in brew.misc.strip().split("\n") %}<li>{{ misc.strip() }}</li>{% endfor %}
</ul>
{% endif %}
<h4>{{ gettext("mash steps").capitalize() }}:</h4>
{% if brew.mash_steps %}
<ul>
{% for step in brew.mash_steps.strip().split("\n") %}<li>{{ stars2deg(step.strip()) }}</li>{% endfor %}
</ul>
{% endif %}
<p><strong>{{ gettext("sparging").capitalize() }}:</strong> {% if brew.sparging %}{{ brew.sparging }}{% endif %}</p>
<p><strong>{{ gettext("boil time").capitalize() }}:</strong> {% if brew.boil_time %}{{ brew.boil_time }}{% endif %}</p>
<h4>{{ gettext("hopping schedule").capitalize() }}:</h4>
{% if brew.hopping_steps %}
<ul>
{% for step in brew.hopping_steps.strip().split("\n") %}<li>{{ step.strip() }}</li>{% endfor %}
</ul>
{% endif %}
{% if brew.notes_html %}
<h4>{{ gettext("notes").capitalize() }}:</h4>
{{ brew.notes_html|safe }}
{% endif %}
<h3>{{ gettext("fermentation and packaging").capitalize() }}</h3>
<ul>
  <li><strong>{{ gettext("fermentation start date").capitalize() }}:</strong> {% if brew.fermentation_start_date %}{{ brew.fermentation_start_date|dateformat("short") }}{% endif %}</li>
  <li><strong>{{ gettext("bottling date").capitalize() }}:</strong> {% if brew.bottling_date %}{{ brew.bottling_date|dateformat("short") }}{% endif %}</li>
  <li><strong>{{ gettext("carbonation data").capitalize() }}:</strong> {{ brew.carbonation_data_display }}</li>
  {% if brew.carbonation_used %}<li><strong>{{ gettext("carbonation used").capitalize() }}: </strong> {{ brew.carbonation_used }}</li>{% endif %}
</ul>
