[Unit]
Description=uWSGI launcher for Brewlog
After=network.target

[Service]
User=jarek
Group=www-data
WorkingDirectory=/home/jarek/brewlog
EnvironmentFile="PATH=/home/jarek/brewlog/config/environment"
ExecStart=/home/jarek/brewlog/venv/bin/uwsgi --ini config/brewlog.ini

[Install]
WantedBy=multi-user.target
