{% macro render(form) -%}
<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
    {{ field() }}
{% else %}
    {% if field.type == 'FieldList' %}
        {% for subfield in field %}
            {{ form_field(subfield, with_label=True) }}
        {% endfor %}
    {% else %}
        {{ form_field(field, with_label=True) }}
    {% endif %}
{% endif %}
{% endfor %}
</fieldset>
<div class="form-actions">
    <button type="submit">{% trans %}submit{% endtrans %}</button>
</div>
{%- endmacro %}


{% macro render_subform(form, all_forms) -%}
    {% set subform = all_forms[form.name] %}
    <ul id="{{ subform.name }}" class="subform">
        <li><label for="{{ subform.name }}-0">{{ subform.label }}</label>
        </li>
    </ul>
{%- endmacro %}


{% macro form_field(field) -%}
    {% set with_label = kwargs.pop('with_label', False) %}
    {% set placeholder = '' %}
    {% if not with_label %}
        {% set placeholder = field.label.text %}
    {% endif %}
    <div>
        {% if with_label %}
            <label for="{{ field.id }}">
                {{ field.label.text }}
            </label>
        {% endif %}
        <div>
            {% set cssclass_ = kwargs.pop('class_', '') %}
            {% if field.flags.required %}
                {% set cssclass_ = cssclass_ + ' required' %}
            {% endif %}
            {% if field.type == 'BooleanField' %}
                <label>
                    {{ field(class_=cssclass_, **kwargs) }}
                    {{ field.label.text|safe }}
                </label>
            {% else %}
                {{ field(class_=cssclass_, placeholder=placeholder, **kwargs) }}
            {% endif %}
            {% if field.errors %}
                <span class="error">{{ field.errors|join(', ') }}</span>
            {% endif %}
            {% if field.description %}
                <p class="help-block">{{ field.description|safe }}</p>
            {% endif %}
        </div>
    </div>
{%- endmacro %}
