{% extends "brewery/base.html" %}

{% block content %}
<h3>{% trans breweryname=brewery.name, ownername=brewery.owner.name %}Details for brewery {{ breweryname }} by {{ ownername }}{% endtrans %}</h3>
<p>{% trans %}You may change brewery data using the form below{% endtrans %}:</p>
<form method="post" action="{{ uri_for('brewery-details', keyid=brewery.key.urlsafe()) }}">
    <div>
        {{ form.name.label }} {{ form.name() }}
    </div>
    {% if form.name.errors %}
    <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    <div>
        {{ form.description.label }} {{ form.description() }}
    </div>
    <div>
        {{ form.established_date.label }} {{ form.established_date() }}
    </div>
    <input type="submit">
</form>
{% if latest_brews %}
<h3>{% trans %}Latest brews{% endtrans %}</h3>
<ul>
    {% for brew in latest_brews %}
    <li>{{ brew.date }} &mdash; {{ brew.name }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if brewery.key.parent() == current_user.key %}
<p>{% trans add_url=uri_for('brew-add') %}Would you like to <a href="{{ add_url }}">add new brew</a>?{% endtrans %}</p>
{% endif %}
{% endblock %}
