{% extends "brewery/base.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
<h3>{% trans breweryname=brewery.name, ownername=brewery.owner.name %}Details for brewery {{ breweryname }} by {{ ownername }}{% endtrans %}</h3>
<p>{% trans %}You may change brewery data using the form below{% endtrans %}:</p>
<form class="well" method="post" action="{{ uri_for('brewery-details', keyid=brewery.key.urlsafe()) }}">
    {{ forms.render(form) }}
</form>
{% if latest_brews %}
<h3>{% trans %}Latest brews{% endtrans %}</h3>
<ul>
    {% for brew in latest_brews %}
    <li>{{ brew.date }} &mdash; {{ brew.name }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if brewery.key.parent() == current_user.key %}
<p>{% trans add_url=uri_for('brew-add') %}Would you like to <a href="{{ add_url }}">add new brew</a>?{% endtrans %}</p>
{% endif %}
{% endblock %}
