{% extends "brewery/base.html" %}

{% block content %}
<h3>Details for brewery {{ brewery.name }} by {{ brewery.owner.name }}</h3>
<p>{% trans %}You may change brewery data using the form below{% endtrans %}:</p>
<form method="post" action="{{ uri_for('brewery-details', keyid=brewery.key.urlsafe()) }}">
    <div>
        {{ form.name.label }}: {{ form.name() }}
    </div>
    {% if form.name.errors %}
    <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    <div>
        {{ form.description.label }}: {{ form.description() }}
    </div>
    <div>
        {{ form.established_date.label }}: {{ form.established_date() }}
    </div>
    <input type="submit">
</form>
{% endblock %}
