{% extends "brewery/base.html" %}

{% block headpagetitle %}{% if brewery %}{% trans breweryname=brewery.name %}modify your "{{ brewery.name }}" brewery data{% endtrans %}{% else %}{% trans %}add new brewery{% endtrans %}{% endif %}{% endblock %}

{% block content %}
<form method="post" action="{{ uri_for('brewery-add') }}">
    <div>
        {{ form.name.label }}
        {{ form.name() }}
    </div>
    {% if form.name.errors %}
    <ul class="errors">{% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    {% endif %}
    <div>
        {{ form.description.label }}
        {{ form.description() }}
    </div>
    <div>
        {{ form.established_date.label }}
        {{ form.established_date() }}
    </div>
    <input type="submit">
</form>
{% endblock %}
