{% extends "base.html" %}

{% block headpagetitle %}{% trans %}Welcome{% endtrans %}{% endblock %}

{% block announcement %}
{% if announcement %}
<section class="section">
  <div class="content">
    <h2>{{ gettext('announcement').capitalize() }}</h2>
    {{ announcement|safe }}    
  </div>
</section>
{% endif %}
{% endblock %}

{% block content %}
<h2>{% trans %}Welcome to BrewLog{% endtrans %}</h2>
<div class="columns">
  <div class="column">
    <div class="panel is-info">
      <h4 class="panel-heading">{% trans %}My latest recipes{% endtrans %}</h4>
      {% if latest_recipes.count() %}
      {% for brew in latest_recipes %}<a class="panel-block" href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.full_name }}</a>{% endfor %}
      {% else %}
      <p class="panel-block">{{ gettext('nothing here yet') }}</p>
      {% endif %}
    </div>
  </div>
  <div class="column">
    <div class="panel is-info">
      <h4 class="panel-heading">{% trans %}My recent reviews{% endtrans %}</h4>
      {% if recent_reviews %}
      {% for note in recent_reviews %}<a class="panel-block" href="{{ url_for('brew.details', brew_id=note.brew.id) }}">{{ note.brew.full_name }}</a> - {{ note.date|dateformat("short") }}{% endfor %}
      {% else %}
      <p class="panel-block">{{ gettext('nothing here yet') }}</p>
      {% endif %}
    </div>
  </div>
  <div class="column">
    <div class="panel is-info">
      <h4 class="panel-heading">{% trans %}Recently brewed{% endtrans %}</h4>
      {% if recently_brewed.count() %}
      {% for brew in recently_brewed %}<p class="panel-block"><a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.full_name }}</a> - {{ brew.date_brewed|dateformat("short") }}</p>{% endfor %}
      {% else %}
      <p class="panel-block">{{ gettext('nothing here yet') }}</p>
      {% endif %}
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="panel is-info">
      <h4 class="panel-heading">{% trans %}Fermenting{% endtrans %}</h4>
      {% if fermenting %}
      {% for brew in fermenting %}<p class="panel-block"><a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.full_name }}</a> - {{ brew.fermentation_start_date|dateformat("short") }}</p>{% endfor %}
      {% else %}
      <p class="panel-block">{{ gettext('nothing here yet') }}</p>
      {% endif %}
    </div>
  </div>
  <div class="column">
    <div class="panel is-info">
      <h4 class="panel-heading">{% trans %}Maturing{% endtrans %}</h4>
      {% if maturing %}
      {% for brew in maturing %}<a class="panel-block" href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.full_name }}</a> - {{ brew.bottling_date|dateformat("short") }}{% endfor %}
      {% else %}
      <p class="panel-block">{{ gettext('nothing here yet') }}</p>
      {% endif %}
    </div>
  </div>
  <div class="column">
    <div class="panel is-info">
      <h4 class="panel-heading">{% trans %}On tap{% endtrans %}</h4>
      {% if on_tap %}
      {% for brew in on_tap %}<p class="panel-block"><a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.full_name }}</a> - {{ brew.tapped|dateformat("short") }}</p>{% endfor %}
      {% else %}
      <p class="panel-block">{{ gettext('nothing here yet') }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
