{% extends "base.html" %}

{% from "macros/assets.html" import cache_bust %}

{% block headpagetitle %}Mój Brewlog{% endblock %}

{% block announcement %}
{% if announcement %}
<section class="section">
  <div class="content">
    <p class="title">Ogłoszenie</p>
    {{ announcement|safe }}    
  </div>
</section>
{% endif %}
{% endblock %}

{% block content %}
<h1>Mój Brewlog</h1>
<div id="dashboard-block"></div>
{% endblock %}

{% block scriptdata %}
<div class="is-hidden" id="brewsets-data">{{ brewsets|tojson|safe }}</div>
<div class="is-hidden" id="csrf-token">{{ csrf_token() }}</div>
{% endblock %}

{% block scripts %}
<script type="module">
  import { html, render, Dashboard } from '{{ cache_bust("/static/dist/dashboard.js") }}';
  const brewsets = JSON.parse(document.getElementById('brewsets-data').textContent);
  const csrfToken = document.getElementById('brewsets-data').textContent;
  render(
    html`<${Dashboard} brewsets=${brewsets} csrfToken=${document.getElementById('csrf-token').textContent} />`,
    document.getElementById('dashboard-block'),
  );
</script>
{% endblock %}
