{% extends "auth/base.html" %}

{% block widecontent %}
<div class="row">
    <div class="small-12 columns">
        <div class="row">
            <p>{% trans %}Sign in with{% endtrans %}:</p>
            <div class="small-12 large-4 columns">
                <div class="panel text-center"><a class="btn-auth btn-google" href="{{ url_for('auth-login', provider='google') }}">Google</a></div>
            </div>
            <div class="small-12 large-4 columns">
                <div class="panel text-center"><a class="btn-auth btn-facebook" href="{{ url_for('auth-login', provider='facebook') }}">Facebook</a></div>
            </div>
            <div class="small-12 large-4 columns">
                <div class="panel text-center"><a class="btn-auth btn-github" href="{{ url_for('auth-login', provider='github') }}">GitHub</a></div>
            </div>
            {% if DEV %}
            <div class="large-12 columns">
                <div class="panel text-center"><a class="small button radius" href="{{ url_for('auth-login', provider='local') }}">local</a></div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
