{% extends "auth/base.html" %}

{% block widecontent %}
<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <p>{% trans %}Sign in with{% endtrans %}:</p>
            <div class="large-6 columns">
                <div class="panel text-center"><a class="btn-auth btn-google" href="{{ url_for('auth-login', provider='google') }}">Google</a></div>
            </div>
            <div class="large-6 columns">
                <div class="panel text-center"><a class="btn-auth btn-facebook" href="{{ url_for('auth-login', provider='facebook') }}">Facebook</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
