{% macro render_pagination(pagination) %}
{% if pagination.pages > 1 %}
<nav class="pagination" role="navigation" aria-label="strony">
  <a class="pagination-previous" title="poprzednia" href="{{ url_for_other_page(pagination.page-1) }}" {% if not pagination.has_prev %}disabled{% endif %}>poprzednia</a>
  <a class="pagination-next" title="następna" href="{{ url_for_other_page(pagination.page+1) }}" {% if not pagination.has_next %}disabled{% endif %}>następna</a>
  <ul class="pagination-list">
    {% for page in pagination.iter_pages() %}
    {% if page %}
    {% if page != pagination.page %}
    <li>
      <a class="pagination-link" href="{{ url_for_other_page(page) }}" aria-label="strona {{ page_no }}">{{ page }}</a>
    </li>
    {% else %}
    <li>
      <a class="pagination-link is-current" aria-label="strona {{ page_no }}" aria-current="page">{{ page }}</a>
    </li>
    {% endif %}
    {% else %}
    <li>
      <span class="pagination-ellipsis">&hellip;</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% endmacro %}
