<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{% block headpagetitle %}{% endblock %}</title>
<link href="/static/signin-buttons/auth-buttons.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap{% if not DEV %}.min{% endif %}.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap-responsive{% if not DEV %}.min{% endif %}.css" rel="stylesheet">
{% block styles %}
{% endblock %}
<script src="/static/bootstrap/bootstrap{% if not DEV %}.min{% endif %}.js"></script>
{% block scripts %}
{% endblock %}
</head>
<body>
{% if logged_in %}
<p><a href="{{ uri_for('profile') }}">{% trans %}my profile{% endtrans %}</a> <a href="{{ uri_for('auth-logout') }}">{% trans %}logout{% endtrans %}</a></p>
{% else %}
<p><a href="{{ uri_for('auth-select-provider') }}">{% trans %}login page{% endtrans %}</a></p>
{% endif %}
{% block flash %}
{% if flashes %}
<ul>
{% for flash in flashes %}<li>{{ flash.0|e }}</li>{% endfor %}
</ul>
{% endif %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<div id="pagefooter">
    Copyright: &copy; 2012, Jarek Zgoda &amp; Z-SOFT. {% trans %}All rights reserved{% endtrans %}.
</div>
{% endblock %}
</body>
</html>
