{% import "bootstrap/wtf.html" as wtf %}
{% import "macros/bootstrap.html" as bsu %}

{% macro render(form) -%}
{% set hints = kwargs.pop('hints', None) %}
{% if form %}
{{ form.hidden_tag() }}
{% for field in form %}
  {% if field.type == 'HiddenField' %}
    {{ field }}
  {% endif %}
{% endfor %}
{{ wtf.form_errors(form, hiddens="only") }}
{% for field in form %}
{% if not field.type in ['CSRFTokenField', 'HiddenField'] %}
  {% if field.type == 'DecimalField' %}
    {{ wtf.form_field(field, form_type="horizontal", horizontal_columns=('sm', 2, 10), step=pow(10, field.places * -1)) }}
  {% elif field.type == 'TextAreaWithHintsField' and hints %}
    {{ wtf.form_field(field, form_type="horizontal", horizontal_columns=('sm', 2, 10), hints=hints) }}
  {% else %}
    {{ wtf.form_field(field, form_type="horizontal", horizontal_columns=('sm', 2, 10)) }}
  {% endif %}
{% endif %}
{% endfor %}
{% endif %}
{%- endmacro %}

{% macro delete_form(form, action) -%}
<form method="post" action="{{ action }}" role="form">
  {{ form.csrf_token }}
  {{ form.delete_it() }}
  <button type="submit" class="btn btn-sm btn-danger">{{ bsu.icon("remove") }} {{ gettext("Yes, delete it") }}</button>
</form>
{%- endmacro %}
