{% extends "email/base.html" %}

{% set url = url_for('auth.resetpassword', token=token, _external=True) %}

{% block body %}
<p>Aby zresetować hasło w serwisie Brewlog kliknij poniższy link lub skopiuj go do paska adresowego przeglądarki i przejdź do strony. Wyświetli się strona, gdzie będzie można zmienić hasło.</p>
<p><a href="{{ url }}">{{ url }}</a></p>
<p>Jeżeli nie było to twoim zamiarem po prostu zignoruj ten email. Twoje hasło nie zostało jeszcze zmienione.</p>
<p>Cały twój<br><strong>Brewlog</strong></p>
{% endblock %}
