{% extends "email/base.html" %}

{% set url = url_for('auth.resetpassword', token=token, _external=True) %}

{% block body %}
<p>{% trans %}You requested password reset in Brewlog. Please click the below link to begin password reset procedure. You will be taken to page where you enter new password.{% endtrans %}</p>
<p><a href="{{ url }}">{{ url }}</a></p>
<p>{% trans %}If you did not request that you may ignore this email, your password has not been changed yet.{% endtrans %}</p>
<p>{% trans %}Yours truly{% endtrans %}<br><strong>Brewlog</strong></p>
{% endblock %}
