{% extends "tasting/base.html" %}
{% from "macros/pagination.html" import render_pagination %}

{% block headpagetitle %}notatki z degustacji{% endblock %}

{% block content %}
<h1>{% if public_only %}Notatki z degustacji warek publicznych{% else %}Notatki z degustacji{% endif %}</h1>
{% if pagination.items %}
<table class="table is-striped">
  <thead>
    <tr>
      <th scope="col">warka</th>
      <th scope="col">użtkownik</th>
      <th scope="col">data</th>
    </tr>
  </thead>
  <tbody>
    {% for note in pagination.items %}
    <tr>
      <td><a href="{{ url_for('brew.details', brew_id=note.brew.id) }}">{{ note.brew.name }}</a></td>
      <td>{{ note.author.full_name }}</td>
      <td>{{ note.date|dateformat('short') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
