{% extends "tasting/base.html" %}
{% from "macros/bootstrap.html" import render_pagination %}

{% block headpagetitle %}{{ gettext("tasting notes") }}{% endblock %}

{% block widecontent %}
<h3>{% if public_only %}{{ gettext("all tasting notes to public brews").capitalize() }}{% else %}{{ gettext("all tasting notes to brews").capitalize() }}{% endif %}</h3>
{% if pagination.items %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{{ gettext('brew').capitalize() }}</th>
      <th scope="col">{{ gettext('user').capitalize() }}</th>
      <th scope="col">{{ gettext('date').capitalize() }}</th>
    </tr>
  </thead>
  <tbody>
    {% for note in pagination.items %}
    <tr>
      <td><a href="{{ url_for('brew.details', brew_id=note.brew.id) }}">{{ note.brew.name }}</a></td>
      <td>{{ note.author.full_name }}</td>
      <td>{{ note.date|dateformat('short') }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{{ render_pagination(pagination) }}
{% endif %}
{% endblock %}
