{% extends "brew/base.html" %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}potwierdź usunięcie notatki z degustacji warki {{ brew.name }}{% endblock %}

{% block content %}
<h1>Potwierdź usunięcie notatki z degustacji warki {{ brew.name }}</h1>
<p>Zamierzasz usunąć notatkę z degustacji do warki {{ brew.name }} dodaną przez {{ note.author.name }} {{ format_date(note.date, "short") }}. Jest to proces nieodwracalny, dlatego potwierdź że na pewno chcesz to zrobić.</p>
{{ forms.render_form(delete_form, url_for('tastingnote.delete', note_id=note.id)) }}
{% endblock %}
