{% extends "auth/base.html" %}

{% block widecontent %}
<div class="row my-2">
  <div class="col-12">
    <p>{{ gettext('Sign in with') }}:</p>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <a class="btn btn-social btn-google" href="{{ url_for('auth.login', provider='google') }}"><i class="fab fa-google"></i> Google</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <a class="btn btn-social btn-facebook" href="{{ url_for('auth.login', provider='facebook') }}"><i class="fab fa-facebook"></i> Facebook</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <a class="btn btn-social btn-github" href="{{ url_for('auth.login', provider='github') }}"><i class="fab fa-github"></i> GitHub</a>
      </div>
    </div>
  </div>
</div>
{% if config.DEBUG or config.TESTING %}
<div class="row my-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body text-center">
        <a class="btn btn-primary" href="{{ url_for('auth.login', provider='local') }}">local</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
