{% extends "auth/base.html" %}

{% block content %}
<h1>{{ gettext('sign in') }}</h1>
<div class="columns">
  <div class="column is-half is-offset-one-quarter">
    <div class="card">
      <div class="card-content">
        <form method="POST" action="{{ url_for('auth.select') }}" novalidate>
          <div class="field">
            {{ form.csrf_token }}
            <div class="control has-icons-left">
              {{ form.userid }}
              <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left">
              {{ form.password }}
              <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-primary">Login</button>
            </div>
          </div>
        </form>
      </div>
      <footer class="card-footer">
        <a href="{{ url_for('auth.forgotpassword') }}" class="card-footer-item">{{ gettext('I forgot my password') }}</a>
        <a href="{{ url_for('auth.register') }}" class="card-footer-item">{{ gettext('register account') }}</a>
      </footer>
    </div>
  </div>
</div>
{% endblock %}
