{% extends "brew/calendar/base.html" %}
{% import "macros/forms.html" as forms %}

{% block headpagetitle %}{{ super() }} {{ event.title }}{% endblock %}

{% block content %}
<h3>{{ gettext("edit event data").capitalize() }}</h3>
<p>{{ gettext("event %(event_name)s for brew %(brew_name)s", event_name=event.title, brew_name=event.brew.name).capitalize() }}.</p>
<form method="post" action="{{ url_for('brew.event', event_id=event.id) }}" class="custom">
    {{ forms.render(form) }}
</form>
{% endblock %}
