{% extends "brewery/base.html" %}
{% import "macros/pagination.html" as pg %}

{% block headpagetitle %}{{ gettext("brews from brewery %(name)s", name=brewery.name)|e }}{% endblock %}

{% block content %}
<h3>{{ gettext("brews from brewery %(name)s", name=brewery.name).capitalize()|e }}</h3>
{% if brews %}
<ul class="no-bullet">
{% for brew in brews %}<li><a href="{{ brew.absolute_url }}">{{ brew.name|e }}</a> {% if user == brew.brewery.brewer %}<a href="{{ url_for('brew-delete', brew_id=brew.id) }}" class="button tiny radius">{{ gettext("delete") }}</a>{% endif %}</li>{% endfor %}
</ul>
{{ pg.render_pagination(pagination) }}
{% endif %}
{% endblock %}
