{% extends "brewery/base.html" %}
{% import "macros/pagination.html" as pg %}

{% block headpagetitle %}{{ gettext("brews from brewery %(name)s", name=brewery.name)|e }}{% endblock %}

{% block content %}
<h3>{{ gettext("brews from brewery %(name)s", name=brewery.name).capitalize()|e }}</h3>
{% if pagination.items %}
<table class="small-12 columns">
<thead>
    <th>{{ gettext("name") }}</th>
    <th>{{ gettext("operations") }}</th>
</thead>
<tbody>
{% for brew in pagination.items %}
<tr>
    <td><a href="{{ brew.absolute_url }}">{{ brew.name|e }}</a></td>
    <td>{% if user == brew.brewery.brewer %}<a href="{{ url_for('brew.delete', brew_id=brew.id) }}" class="button tiny radius">{{ gettext("delete") }}</a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{{ pg.render_pagination(pagination) }}
{% endif %}
{% endblock %}
