{% extends "brewery/base.html" %}

{% block headpagetitle %}{{ gettext("confirm removal of your brewery %(name)s", name=brewery.name) }}{% endblock %}

{% block content %}
<h3>{{ brewery.name }}</h3>
<p>{{ gettext("Brewery %(name)s is about to be deleted with all its content. As this process is irreversible we're asking you again, is this really what yoy want do do?", name=brewery.name) }} {% if brewery.brews %}{{ gettext("Along with brewery %(name)s following items will be removed:", name=brewery.name) }}{% endif %}</p>
{% if brewery.brews %}
<ul>
    {% for brew in brewery.brews %}<li>{{ brew.name }}</li>{% endfor %}
</ul>
{% endif %}
<form method="post" action="{{ url_for('brewery-delete', brewery_id=brewery.id) }}">
    {{ delete_form.csrf_token }}
    {{ delete_form.delete_it() }}
    <button type="submit" class="button small radius alert">{{ gettext("Yes, delete it") }}</button>
</form>
{% endblock %}