{% extends "brewery/base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/modelrender.html" as modelrender %}

{% block content %}
<h3>{% trans breweryname=brewery.name, ownername=brewery.brewer.name %}Details for brewery {{ breweryname }} by {{ ownername }}{% endtrans %}</h3>
{% if form %}
<p>{% trans %}You may change brewery data using the form below{% endtrans %}:</p>
<form method="post" action="{{ url_for('brewery-details', brewery_id=brewery.id) }}" class="custom">
    {{ forms.render(form) }}
</form>
{% else %}
{{ modelrender.render(brewery) }}
{% endif %}
<h3>{{ gettext("People") }}</h3>
<p>{{ gettext("Head brewer") }}: <a href="{{ brewery.brewer.absolute_url }}">{{ brewery.brewer.name }}</a></p>
{% if brewery.other_brewers %}
<p>{{ gettext("Other brewers") }}:</p>
<ul>
    {% for brewer in brewery.other_brewers %}<li><a href="{{ brewer.absolute_url }}">{{ brewer.name }}</a></li>{% endfor %}
</ul>
{% endif %}
{% if brewery.recent_brews() %}
<h3>{% trans %}Latest brews{% endtrans %}</h3>
<ul>
    {% for brew in brewery.recent_brews() %}<li>{% if brew.date_brewed %}{{ brew.date_brewed }}{% else %}{% trans %}not brewed yet{% endtrans %}{% endif %} &mdash; <a href="{{ brew.absolute_url }}">{{ brew.name }}</a></li>{% endfor %}
</ul>
{% endif %}
{% if form %}
<p><a href="{{ url_for('brew-add') }}" class="button small radius">add new brew</a></p>
{% endif %}
{% endblock %}
