{% extends "brewery/base.html" %}
{% import "macros/forms.html" as forms %}

{% block content %}
<h3>{% trans breweryname=brewery.name, ownername=brewery.brewer.name %}Details for brewery {{ breweryname }} by {{ ownername }}{% endtrans %}</h3>
<p>{% trans %}You may change brewery data using the form below{% endtrans %}:</p>
<form method="post" action="{{ url_for('brewery-details', brewery_id=brewery.id) }}">
    {{ forms.render(form) }}
</form>
{% if latest_brews %}
<h3>{% trans %}Latest brews{% endtrans %}</h3>
<ul>
    {% for brew in latest_brews %}
    <li>{% if brew_date %}{{ brew.date }}{% else %}{% trans %}not brewed yet{% endtrans %}{% endif %} &mdash; {{ brew.name }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if brewery.brewer.id == user.id %}
<p>{% trans add_url=url_for('brew-add') %}Would you like to <a href="{{ add_url }}">add new brew</a>?{% endtrans %}</p>
{% endif %}
{% endblock %}
