{% extends "brewery/base.html" %}
{% import "macros/forms.html" as forms %}
{% import "macros/bootstrap.html" as bsu %}
{% import "macros/modelrender.html" as modelrender %}

{% block headpagetitle %}{{ super() }} {{ brewery.name }}{% endblock %}

{% block widecontent %}
<div class="col-xs-12">
  <h3>{{ brewery.name }}</h3>
  {% if current_user == brewery.brewer %}
  <p>{% trans %}You may change brewery data using the form below{% endtrans %}:</p>
  <form method="post" action="{{ url_for('brewery.details', brewery_id=brewery.id) }}" class="form form-horizontal" role="form">
    {{ forms.render(form) }}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{{ bsu.icon("check") }} {{ gettext("submit") }}</button>
      </div>
    </div>
  </form>
  {% else %}
  {{ modelrender.render(brewery) }}
  {% endif %}
  <h3>{{ gettext("People") }}</h3>
  <p>{{ gettext("Head brewer") }}: <a href="{{ brewery.brewer.absolute_url }}">{{ brewery.brewer.name }}</a></p>
  
  <h3>{% trans %}Latest brews{% endtrans %}</h3>
  <ul class="list-unstyled">
    {% for brew in brewery.recent_brews(public_only=True) %}
    <li>{% if brew.date_brewed %}{{ brew.date_brewed|dateformat("short") }}{% else %}{% trans %}not brewed yet{% endtrans %}{% endif %} &mdash; <a href="{{ url_for('brew.details', brew_id=brew.id) }}">{{ brew.name }}</a></li>
    {% endfor %}
  </ul>
  <p><a href="{{ url_for('brewery.brews', brewery_id=brewery.id) }}">{{ gettext("view all brews") }}</a></p>
  
  {% if current_user == brewery.brewer %}
  <p><a href="{{ url_for('brew.add') }}" class="btn btn-sm btn-primary">{{ gettext("add new brew") }}</a></p>
  {% endif %}
</div>
{% endblock %}
