{% extends "brewery/base.html" %}
{% import "macros/pagination.html" as pg %}

{% block headpagetitle %}{% trans %}brewery list{% endtrans %}{% endblock %}

{% block content %}
<h3>{{ gettext("List of registered breweries") }}</h3>
{% if pagination.items %}
<table class="small-12 columns">
<thead>
    <th>{{ gettext("name") }}</th>
    <th>{{ gettext("brews") }}</th>
    <th>{{ gettext("operations") }}</th>
</thead>
<tbody>
{% for brewery in pagination.items %}
<tr>
    <td><a href="{{ brewery.absolute_url }}">{{ brewery.name|e }}</a></td>
    <td>{{ ngettext("%(num)d brew", "%(num)d brews", brewery.brews.count()) }}</td>
    <td>{% if user == brewery.brewer %}<a href="{{ url_for('brewery.delete', brewery_id=brewery.id) }}" class="button tiny radius alert">{{ gettext("delete") }}</a>{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{{ pg.render_pagination(pagination) }}
{% endif %}
{% if current_user.is_authenticated() %}
<p><a href="{{ url_for('brewery.add') }}" class="button small radius">{{ gettext("add new brewery") }}</a></p>
{% endif %}
{% endblock %}
