{% extends "brewery/base.html" %}
{% import "macros/pagination.html" as pg %}

{% block headpagetitle %}{% trans %}brewery list{% endtrans %}{% endblock %}

{% block content %}
<h3>{{ gettext("List of registered breweries") }}</h3>
{% if breweries %}
<ul class="no-bullet">
    {% for brewery in breweries %}<li><a href="{{ brewery.absolute_url }}">{{ brewery.name|e }}</a> <small>({{ ngettext("%(num)d brew", "%(num)d brews", brewery.brews|count) }})</small> {% if user == brewery.brewer %}<a href="{{ url_for('brewery-delete', brewery_id=brewery.id) }}" class="button small radius">{{ gettext("delete") }}</a>{% endif %}</li>{% endfor %}
</ul>
{{ pg.render_pagination(pagination) }}
{% endif %}
{% if user.is_authenticated() %}
<p><a href="{{ url_for('brewery-add') }}" class="button small radius">{{ gettext("add new brewery") }}</a></p>
{% endif %}
{% endblock %}
